/* grids.css */


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


[class*='col-'] {
	float: left;
	padding:1rem 1rem;
}

/*
[class*='col-']:first-of-type {
  padding-right: 0;
}

[class*='col-']:last-of-type {
  padding-right: 0;
  }*/

  .col-1of3 {
  	width:33.33%;
  }

  .col-2of3 {
  	width:66.66%;
  }

  .col-3of3 {
  	width:100%;
  }

  

  .col-1of6 {
  	width: 16.67%;
  }

  .col-2of6 {
  	width: 33.33%;
  }

  .col-3of6 {
  	width: 50%;
  }

  .col-4of6 {
  	width: 66.67%;
  }

  .col-5of6 {
  	width: 83.33%;
  }

  .col-6of6 {
  	width: 100%;
  }