@import url('https://fonts.googleapis.com/css?family=Poppins');

#wrapper {
	position:relative;
	margin:auto;
	margin-top:10rem;
	max-width:100%;
	height:auto;
}

.namewrapper {
    padding-left:15rem;
	text-align:left;
}

.nametitle {
	font-family:"Poppins", sans-serif;
	font-size:40px;
	letter-spacing:0.5px;
	font-weight:600;
	color:#3CADFF;
}

.description {
	padding-top:1rem;
	font-family:"Poppins", sans-serif;
	font-size:18px;
	color:white;
	font-weight:300;
	letter-spacing:0.7px;
}

.descriptionword {
	color:#3CADFF;
	font-weight:600;
}

.subdescription {
	padding-top:0.3rem;
	font-family:"Poppins", sans-serif;
	font-size:12px;
	color:white;
	font-weight:200;
	letter-spacing:0.7px;
}

.firstproj {
	float: left;
	width:100%;
	height:auto;
	margin-top:9rem;
	margin-bottom:3.3rem;
	padding-left:15rem;
	color:white;
	background-color:#16191E;
	overflow: hidden;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition: all 1s ease;
}

.secondproj {
	float: left;
	width:100%;
	height:auto;
	padding-left:15rem;
	margin-bottom:3.3rem;
	color:white;
	background-color:#16191E;
	overflow: hidden;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition: all 1s ease;
}

.thirdproj {
	float: left;
	width:100%;
	height:auto;
	padding-left:15rem;
	margin-bottom:3.3rem;
	color:white;
	background-color:#16191E;
	overflow: hidden;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition: all 1s ease;
}

.fourthproj {
	float: left;
	width:100%;
	height:auto;
	padding-left:15rem;
	margin-bottom:3.3rem;
	color:white;
	background-color:#16191E;
	overflow: hidden;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition: all 1s ease;
}

.fifthproj {
	float: left;
	width:100%;
	height:auto;
	padding-left:15rem;
	color:white;
	background-color:#16191E;
	overflow: hidden;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition: all 1s ease;
}

.projtext {
	float:left;
	padding-top:7rem;
	padding-right:2rem;
	width:23%;
	font-family:"Poppins", sans-serif;
	z-index:5;
}

.projheader {
	font-size:30px;
	font-family:"Poppins", sans-serif;
	font-weight: 600;
	letter-spacing:2.5px;
	color:#C3D1DF;
	line-height:2.3rem;
}

.projsubheader {
	float:left;
	font-size:14px;
	font-family:"Poppins", sans-serif;
	font-weight:600;
	letter-spacing:1.2px;
	color:#C3D1DF;
	line-height:2.3rem;
}

.projdescription {
	float:left;
	padding-top:1.5rem;
	font-size:14px;
	font-family:"Poppins", sans-serif;
	color:#939DA7;
	letter-spacing:0.5px;
}

.projimage1 {
	float:right;
	width:75%;
	height:360px;
	background-image: url('../images/pdnd/dndbanner.png');
	background-position: 50% calc(50% + 50px);
	background-repeat: no-repeat;
	background-size: 150%;
}

.projimage11 {
	width:75%;
	max-height:319px;
	-webkit-transition: all 1s ease;
}

.projimage2 {
	float:right;
	width:75%;
	height:360px;
	background-image: url('../images/plinkedin/linkedinbanner.png');
	background-position: 50% calc(50% + 50px);
	background-repeat: no-repeat;
	background-size: 160%;
	-webkit-transition: all 1s ease;
}

.projimage3 {
	float:right;
	width:75%;
	height:360px;
	background-image: url('../images/p6/landsurebanner1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-transition: all 1s ease;
}

.projimage4 {
	float:right;
	width:75%;
	height:360px;
	background-image: url('../images/p1/plasmaticcover2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110%;
	-webkit-transition: all 1s ease;
}

.projimage5 {
	float:right;
	width:75%;
	height:360px;
	background-image: url('../images/p7/reefbanner1.jpg');
	background-position: 50% calc(50%);
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-transition: all 1s ease;
}

.firstproj:hover, .secondproj:hover, .thirdproj:hover, .fourthproj:hover, .fifthproj:hover {
	-webkit-transform:scale(1.04);

}