@media (max-width:1200px){

	#wrapper {
		width:800px;
		height:502px;
	}

	.logo {
		width:45px;
		height:45px;
	}

	.nametitle {
		font-size:5em;
		margin-top:2rem;
	}

	.description {
		font-size:1.1em;
	}

}

@media (max-width:850px){

	#topbgcolor {
		height:40%;
	}

	#wrapper {
		margin-top:7.8rem;
		width:500px;
		height:600px;
	}

	#wrapper.index {
		border:1px solid #A2AEB1;
	}

	.nametitle {
		font-size:4.7em;
	}

	.description {
		margin-top:-1.5rem;
		font-size:1em;
	}

	.topbarleft {
		width:50%;
	}

	.topbarmiddle {
		width:50%;
	}

	.topbarright {
		display:none;
	}

	.topbarinnerpic {
		width:50%;
	}

	.blue1, .blue2, .blue3 {
		display:none;
	}

	.blue1half, .blue2half {
		display:inline;
	}

	.indexnav {
		margin-top:8vh;
	}

}

@media (max-width:425px){

	#wrapper {
		margin-top:7.8rem;
		width:300px;
		height:450px;
		text-align:center;
	}

	#wrapper.index {
		border:1px solid #A2AEB1;
	}

	.nametitle {
		margin:auto;
		font-size:3.5em;
		letter-spacing:1px;
	}

	.description {
		margin-top:0.5rem;
		font-size:0.8em;
	}

	.topbarinner {
		pointer-events:none;
	}

	.topbarleft {
		width:50%;
	}

	.topbarmiddle {
		width:50%;
		background-color:#6198A4;
	}

	.topbarinnerpic {
		width:100%;
	}

	.blue1half, .blue2half {
		display:none;
	}

	.bluewhole {
		display:block;
	}

	.indexnav {
		margin-top:2rem;
		font-size:1.3em;
		padding:0.3rem;
		background-color:#191A1C;
	}

	.indexnav.aboutnav {
		margin-top:3.5rem;
	}

	.logo {
		width:32px;
		height:32px;
	}

	.col-1of3.indexcol {
		width:100%;
		margin-bottom:-3rem;
		padding:0;
	}

	.about, .contact {
		float:none;
	}

}