@media (max-width:1200px){

	#wrapper {
		width:800px;
	}

	.logo {
		width:45px;
		height:45px;
	}

	.hovertext {
		font-size: 0.8em;
		padding: 14px;
	}

}

@media (max-width:850px){

	#topbgcolor {
		height:40%;
	}

	#wrapper {
		margin-top:7.8rem;
		width:500px;
		height:680px;
	}

	#outerleft {
		width:50%;
	}

	#outermiddle {
		width:50%;
	}

	#outerright {
		width:100%;
	}

	.innerrighttop {
		float:left;
		width:50%;
	}

	.innerrightbottom {
		float:left;
		width:50%;
	}

	.indexnav {
		margin-top:8vh;
	}

}

@media (max-width:425px){

	#topbgcolor {
		height:100%;
	}

	#wrapper {
		margin-top:0rem;
		width:100%;
		height:auto;
		text-align:center;
	}

	#outerleft {
		width:100%;
	}

	#outermiddle {
		width:100%;
	}

	#outerright {
		width:100%;
	}

	.mobiletopnav {
		display:block;
	}


	.indexnav {
		margin-top:0rem;
		margin-bottom:0;
		font-size:1.3em;
		padding:0.7rem;
		background-color:#242528;
		border-top:1px solid white;
	}

	.logo.first {
		display:none;
	}

	.logonav {
		width:100%;
		padding:2rem;
	}

	.logo {
		display:block;
		margin:auto;
		float:none;
		width:45px;
		height:45px;
	}

	.col-1of3.portfoliocol {
		width:100%;
		padding:0;
	}

	.about, .contact {
		float:none;
	}

}